<launch>
    <arg name="use_bag_file" default="true" />
    <arg name="bag_file_path" default="path/to/your/bagfile" />
    <arg name="scan_topic" default="your/scan/topic" />
    <arg name="odom_topic" default="your/odom/topic" />
    <arg name="calib_file_path" default="" />
    <arg name="use_deskewing" default="false" />
    <arg name="prediction_write_path" value="$(find awv_mos)/history/predictions/mapping_bag/" />
    <arg name="m_config_file_path" default="$(find awv_mos)/config/params_custom.yaml"/>

    <!-- Parameters -->
    <param name="use_bag_file" value="$(arg use_bag_file)" />
    <param name="bag_file_path" value="$(arg bag_file_path)" />
    <param name="scan_topic" value="$(arg scan_topic)" />
    <param name="odom_topic" value="$(arg odom_topic)" />
    <param name="calib_file_path" value="$(arg calib_file_path)" />
    <param name="use_deskewing" value="$(arg use_deskewing)" />
    <param name="prediction_write_path" value="$(arg prediction_write_path)" />
=    <param name="map_save_path" value="$(find awv_mos)/history/maps/bag/" />
    <param name="bag_file_path" value="$(arg bag_file_path)" />
    <param name="m_config_file_path" value="$(arg m_config_file_path)" />
    <param name="m_log_write_path" value="$(find awv_mos)/history/log/"/>
    <rosparam file="$(arg m_config_file_path)" command="load" />

    <!-- AWV-MOS static mapping -->
    <node pkg="awv_mos" type="run_static_mapping" name="run_static_mapping" output="screen" respawn="false"/>

    <node pkg="rviz" type="rviz" name="awv_mos_rviz" args="-d $(find awv_mos)/config/rviz/scan_view.rviz" />
</launch>
