AWV-MOS/history/evaluation_results/*
!AWV-MOS/history/evaluation_results/.gitkeep
AWV-MOS/history/log/*
!AWV-MOS/history/log/.gitkeep
AWV-MOS/history/predictions/*
!AWV-MOS/history/predictions/.gitkeep
AWV-MOS/history/odometry/*
!AWV-MOS/history/odometry/.gitkeep
AWV-MOS/history/maps/*
!AWV-MOS/history/maps/.gitkeep

AWV-MOS-LIO/history/evaluation_results/*
!AWV-MOS-LIO/history/evaluation_results/.gitkeep
AWV-MOS-LIO/history/log/*
!AWV-MOS-LIO/history/log/.gitkeep
AWV-MOS-LIO/history/predictions/*
!AWV-MOS-LIO/history/predictions/.gitkeep
AWV-MOS-LIO/history/odometry/*
!AWV-MOS-LIO/history/odometry/.gitkeep
AWV-MOS-LIO/history/maps/*
!AWV-MOS-LIO/history/maps/.gitkeep
