<launch>
    <arg name="config_file_name" default="your_config_file_name.yaml"/>
    
    <arg name="m_config_file_path" default="$(find awv_mos_lio)/config/$(arg config_file_name)"/>
    <!-- Parameters -->
    <param name="m_config_file_path" value="$(arg m_config_file_path)" />
    <param name="m_log_write_folder_path" value="$(find awv_mos_lio)/history/log/" />
    <rosparam file="$(arg m_config_file_path)" command="load" />

    <!-- AWV-MOS-LIO -->
    <node pkg="awv_mos_lio" type="awv_mos_lio_imuPreintegration"   name="awv_mos_lio_imuPreintegration"    output="screen" 	respawn="true"/>
    <node pkg="awv_mos_lio" type="awv_mos_lio_FeatureExtractionModule"   name="awv_mos_lio_FeatureExtractionModule"    output="screen" 	respawn="true"/>
    <node pkg="awv_mos_lio" type="awv_mos_lio_mapOptmization"      name="awv_mos_lio_mapOptmization"       output="screen"     respawn="false"/>

    <node pkg="rviz" type="rviz" name="awv_mos_rviz" args="-d $(find awv_mos_lio)/config/rviz/scan_view.rviz" />
</launch>
